################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ExDirectUI.NET/v16
/ExDirectUI.NET/bin/Debug
/ExDirectUI.NET/obj/Debug
/ExDirectUI.NET.Debug/obj/Debug
/ExDirectUI.NET.Debug/bin/Debug/ExDirectUI.NET.Debug.exe
/ExDirectUI.NET.Debug/bin/Debug/ExDirectUI.NET.Debug.pdb
/ExDirectUI.NET.Debug/bin/Debug/ExDirectUI.NET.Debug.exe.config
/ExDirectUI.NET.Debug/bin/Debug/ExDirectUI.NET.pdb
